USE [master]
GO
/****** Object:  Database [PRJ301_SE1756_FA23]    Script Date: 12/12/2023 10:53:19 CH ******/
CREATE DATABASE [PRJ301_SE1756_FA23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_VINHNT_PROJECT', FILENAME = N'E:\THANH VINH Chrome\FPT\FALL 2023\PRJ301\2019-SQL\2019\MSSQL15.MSSQLSERVER01\MSSQL\DATA\PRJ301_VINHNT_PROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_VINHNT_PROJECT_log', FILENAME = N'E:\THANH VINH Chrome\FPT\FALL 2023\PRJ301\2019-SQL\2019\MSSQL15.MSSQLSERVER01\MSSQL\DATA\PRJ301_VINHNT_PROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1756_FA23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1756_FA23]
GO
/****** Object:  Table [dbo].[AccountsHE172281]    Script Date: 12/12/2023 10:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsHE172281](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[is_admin] [bit] NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[isActive] [bit] NULL,
	[address] [nvarchar](255) NULL,
 CONSTRAINT [PK_AccountsHE172281] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_user] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesHE172281]    Script Date: 12/12/2023 10:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesHE172281](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
	[img_url] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemsHE172281]    Script Date: 12/12/2023 10:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemsHE172281](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductQuantity] [int] NULL,
	[Sellprice] [float] NULL,
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_OrderItemsHE172281] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersHE172281]    Script Date: 12/12/2023 10:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersHE172281](
	[OrderDate] [date] NULL,
	[TotalAmount] [float] NULL,
	[account_id] [int] NULL,
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
 CONSTRAINT [PK_OrdersHE172281] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsHE172281]    Script Date: 12/12/2023 10:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsHE172281](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Price] [float] NULL,
	[StockQuantity] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Discount] [float] NULL,
	[image_url] [varchar](255) NULL,
	[Quantity] [int] NULL,
	[Sellprice] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItemsHE172281]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductsHE172281] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItemsHE172281] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[OrderItemsHE172281]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemsHE172281_OrdersHE172281] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrdersHE172281] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItemsHE172281] CHECK CONSTRAINT [FK_OrderItemsHE172281_OrdersHE172281]
GO
ALTER TABLE [dbo].[OrdersHE172281]  WITH CHECK ADD  CONSTRAINT [FK_OrdersHE172281_AccountsHE1722811] FOREIGN KEY([account_id])
REFERENCES [dbo].[AccountsHE172281] ([account_id])
GO
ALTER TABLE [dbo].[OrdersHE172281] CHECK CONSTRAINT [FK_OrdersHE172281_AccountsHE1722811]
GO
ALTER TABLE [dbo].[ProductsHE172281]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoriesHE172281] ([CategoryID])
GO
ALTER TABLE [dbo].[ProductsHE172281] CHECK CONSTRAINT [FK_Products_Categories]
GO
USE [master]
GO
